* {
  margin: 0;
  padding: 0;
}

:root {
  --font: "DM Sans", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: var(--font);
}
main {
  flex: 1;
}
/* nav  */
.main-header {
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav-main {
  background-color: white;
  display: flex;
  align-items: center;
  width: 1193px;
  height: 59px;
  margin-top: 100px;
  box-sizing: border-box;
}

.nav-main-left-img {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.nav-logo {
  width: 100px;
}

.icon-hamburger {
  display: none;
  height: 25px;
  width: 25px;
}

.nav-main-links {
  max-width: 609px;
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 50px;
}
.nav-main-links a {
  color: rgb(105, 105, 105);
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
}
.nav-main-right-img {
  gap: 20px;
  margin-right: 20px;
  width: 130px;
  height: 32px;
  justify-content: space-between;
  display: flex;
}

.nav-icon {
  width: 30px;
  height: 29.26px;
}

#my-links {
  display: none;
  flex-direction: column;
  gap: 10px;
}

#my-links.show {
  display: flex;
}

#my-links a {
  color: rgb(105, 105, 105);
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.icon-hamburger {
  cursor: pointer;
}
/* nav */

/* main */

.section-main-holder {
  display: flex;
  justify-content: center;
}

.section-main {
  background-color: white;
  display: flex;
  justify-content: space-between;
  width: 1204px;
  height: 350px;
  margin-top: 200px;
  margin-bottom: 200px;
}

.section-main-left {
  background-color: white;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 39px;
}

.gradient-name {
  background: linear-gradient(90deg, #13b0f5, #e70faa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.section-main-image {
  border: 8px solid transparent;
  background: linear-gradient(#151515, #151515) padding-box, linear-gradient(to top, #e70faa, #00c0fd) border-box;
  width: 349px;
  height: 349px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 30px;
}

/* main */

/* footer */
.footer-main {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 50px;
  font-family: "DM Sans", sans-serif;
}

.footer-content {
  gap: 10px;
  color: #a7a7a7;
}

.footer-gradient {
  background: linear-gradient(90deg, #13b0f5, #e70faa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* footer */

@media (max-width: 900px) {
  .section-main {
    flex-direction: column;
    height: 500px;
    padding: 0 20px 0 20px;
    margin-bottom: 0;
  }

  .nav-main {
    flex-direction: column;
    margin: 0;
    height: auto;
  }

  .nav-main-left-img {
    display: flex;
    align-self: flex-start;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    align-items: center;
  }

  .nav-main-links {
    flex-direction: column;
    height: 200px;
    max-width: none;
    padding: 15px;
    box-sizing: border-box;
  }

  .nav-main-right-img {
    margin-right: 0;
    margin-top: 10px;
    max-width: 300px;
    width: 100%;
  }

  .footer-content {
    display: none;
  }

  .section-main-left {
    font-size: 25px;
    padding-bottom: 20px;
  }

  .section-main-image {
    height: 300px;
    width: 300px;
  }

  .icon-hamburger {
    display: block;
  }

  .nav-main-links {
    display: none;
  }
}
@media (min-width: 900px) {
  .icon-hamburger {
    display: none;
  }

  .show {
    display: none !important;
  }
}
