* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}
/* nav  */
.main-header {
  text-align: center;
  justify-content: space-between;
}

.main-nav {
  background-color: white;
  padding: 60px;
  display: flex;
  align-items: center;
}

.nav-main-left-img {
}

.main-nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
  margin-left: auto;
  margin-right: 100px;
}
.main-nav-links a {
  color: rgb(105, 105, 105);
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
}
.nav-main-right-img {
}

/* nav */

/* main */

.main-hero-section {
  display: flex;
  justify-content: center;
}

.main-section {
  background-color: white;
  display: flex;
  padding: 100px;
  justify-content: space-between;
  height: 350px;
}

.main-section-left {
  background-color: white;
  font-family: poppins;
  font-weight: 700;
  font-size: 39px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.main-section-right {
}

.main-section-image {
  border: 4px purple solid;
  width: 342px;
  height: 342px;
  border-radius: 50%;
  object-fit: cover;
}

/* main */

/* footer */
.main-footer {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 50px;
}

/* footer */
